$primarycolor: lightblue;
@import './typography/typo';
body{
	margin: 50px;
	max-width: 600px;
	background: #f3f;
	p {
		background: orange;
		border-radius: 4px;
		
		padding: 6px;
		color: midnightblue;
		font-weight: 900;
		box-shadow: inset 2px 2px 10px black;		
	}
	h1 {
		color: #fff;
		text-shadow: 2px 2px 5px black;
	}
	img {
		filter: grayscale(100%);
	}
}
